@media only screen and (min-width: 319px) {
    /* .container  {

    } */
}
@media only screen and (min-width: 479px) {
    /* .container  {

    } */
}
@media only screen and (min-width: 767px) {
    .container  {
        max-width: 70vw;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 959px) {
    .container  {
        max-width: 50vw;
    }
}
@media only screen and (min-width: 1439px) {
    /* .container  {

    } */
}

@media (min-width: 48em) {    /* media query that will target small devices and above */
  [class*="col-"] {
    float: left;
  }
  .col-1-3 {    /*define a one-third width column*/
    width: 33.3333%;
  }
  .col-2-3 {    /*define a two-thirds width column*/
    width: 66.6666%;
  }
  .col-1-2 {
    width: 50%;
  }
  .col-1-4 {
    width: 25%;
  }
  .pull-right-sm { /*float an element to the right*/
    float:right;
  }
}

