
/***************************
****************************
        LAYOUT STYLES
****************************
***************************/
*, html ,body {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    background-image: -webkit-linear-gradient(180deg, #455a64 20%, #1c313a 80%); 
    background-image:    -moz-linear-gradient(180deg, #455a64 20%, #1c313a 80%); 
    background-image:     -ms-linear-gradient(180deg, #455a64 20%, #1c313a 80%); 
    background-image:      -o-linear-gradient(180deg, #455a64 20%, #1c313a 80%); 
    background-image:         linear-gradient(180deg, #455a64 20%, #1c313a 80%);
    min-height: 100vh;
}
body {
    height: auto;
    min-height: 100vh;
    max-width: 100vw;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Michroma', sans-serif;
    margin: 0;
    -webkit-tap-highlight-color: #cafa1d8f;
    position: relative;
}
main {
    width: 100%;
    height: 100%;
    text-align: left;
    margin: 0 auto;
    padding: 10px 0;
    overflow-x: hidden;
}
footer {
  position:absolute;
  bottom:0;
  left: 0;
  width:100%;
  margin-top: 50px;
  text-align: center;
}
.container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column; 
  padding: 20px 10px 80px;
  margin-right: auto;
  margin-left: auto;  /*when adding left and right padding with the max-width = 1200px,*/
  max-width: 1170px;  /* which is our large device breakpoint.*/
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:after { /*:after & :before are determining the are before and after the specific element*/
  content: "";
  clear: both;    /* clear any floated elements inside the .row*/
  display: table;
}
[class*='col-'] { /*targets all classes that start with .col-,*/
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
#page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: #fdd835; 
}
#page-loader::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;  
  position: absolute;
  left: 0;
  top: 0;
  background-image: -webkit-linear-gradient(120deg, #f50057aa 15%, #fdd835 60%);
  background-image:    -moz-linear-gradient(120deg, #f50057aa 15%, #fdd835 60%);
  background-image:     -ms-linear-gradient(120deg, #f50057aa 15%, #fdd835 60%);
  background-image:      -o-linear-gradient(120deg, #f50057aa 15%, #fdd835 60%);
  background-image:         linear-gradient(120deg, #f50057aa 15%, #fdd835 60%);
}
#page-loader.hide::after {
  content: none;
}
#page-loader.hide {
  transition: transform 0.35s;
  transform: scale(0);
  transform-origin: 50% 50%;
  border-radius: 50%;
}
#page-loader svg {
  position: fixed; 
  width: 50%;
  margin: auto;
  display: inherit;
  top: 30vh;
  left: 0;
  z-index: 1000;
  right: 0;
  -webkit-animation: loading 1s infinite;
  -moz-animation: loading 1s infinite;
  -ms-animation: loading 1s infinite;
  -o-animation: loading 1s infinite;
  animation: loading 1s infinite;
}
@-webkit-keyframes loading  {
  50% { transform: scale(0.7) }
}
@-moz-keyframes loading {
  50% { transform: scale(0.7) }
}
@-ms-keyframes loading {
  50% { transform: scale(0.7) }
}
@-o-keyframes loading {
  50% { transform: scale(0.7) }
}
@keyframes loading {
  50% { transform: scale(0.7) }
}
#logo {
  transition: all 0.35s;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  display: block;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  font-weight: bold;
  text-shadow: 0px 4px 0px rgba(0,0,0,0.7);
}
#logo span {
  font-size: 1.5em;
}
#logo span.red {
  margin-right: -2px;
}
#logo:hover, 
#logo:focus, 
#logo:active {
  border: none;
  outline: none;
  text-shadow: none;
}
#logo:hover span.red,
#logo:focus span.red,
#logo:active span.red {
  color: #ca0512;
}


/***************************
****************************
        THEME STYLES
****************************
***************************/
/*Color List:
- light blue = 00AEEF;
- dark blue = 1C75BC
- green = 8DC63F
- dark green = 009444
- orange = F7941E
- dark orange = F15A29
- brown = 594a42; */

.red {
  color: #d50000;
}
.green {
  color: #8DC63F
}

.background-primary {
  background: #F7941E; /*Orange*/
}
.background-secondary {
  background: #00AEEF; /*Blue*/
}
.background-tertiary {
  background: #8DC63F; /*Green*/
}
.background-quaternary {
  background: grey;
}
::-moz-selection {
    background: #fdd8358f;
    text-shadow: none; }
  
  ::selection {
    background: #fdd8358f;
    text-shadow: none; }
  
  img::selection {
    background: transparent; }
  
  img::-moz-selection {
    background: transparent; }


/***************************
****************************
        CUSTOM STYLES
****************************
***************************/
.hint {
  transition: all 0.35s;
  position: absolute;
  padding: 20px 10px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.7);
  border-radius: 4px;
  background-color: #fdd835;
  color: #1c313a;
  font-size: 1.5em;
  opacity: 0;
}
span#count {
  position: absolute;
  padding: 20px 10px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.7);
  border-radius: 4px;
}
span#count {
  top: 20px;
  right: 20px;
  background-color: white;
  color: #1c313a;
  font-size: 2em;
}
span#count-hint {
  top: 85px;
  right: 70px;
}
span#count:hover + span#count-hint {
  opacity: 1;
}
form#inputForm {
  position: relative;
  width: 100%;
}
form#inputForm button {
  display: block;
  margin: 10px auto;
}
.container #question,
.container #answer {
    text-decoration: none;
    text-align: center;
    outline: none;
    word-spacing: 5px;
    letter-spacing: 1px;
    margin: 20px 0;
    color: #fdd835;
    width: 100%;
}
.container #question:active,
.container #question:hover {
    outline: none;
    text-decoration: none;
    color: #ffff6b;
    border: none;
}
#question-hint {
  top: -80px;
  width: 100%;
  text-align: center;
}
.container #question:hover + #question-hint {
  opacity: 1;
}
.container #answer {
  background-color: transparent;
  font-weight: bolder;
  border: none;
  font-size: 1.5em;
}

button#retryButton {
  display: none;
}

div#correct,
div#wrong {
  transition: all 0.35s;
  position: absolute;
  width: 30vw;
  left: 50%;
  margin-left: -15vw;
  padding: 10px 20px;
  opacity: 0;
  top: 0;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.6);
}
div#correct {
  background-color: #8DC63F;
}
div#wrong {
  background-color: #d50000;
}
div#wrong.active,
div#correct.active {
  transition: all 0.35s;
  opacity: 1;
  top: 30vh;
}
div#results {
  transition: all 0.35s;
  border-radius: 4px;
  opacity: 0;
  padding: 10px;
  width: 100%;
  max-width: 700px;
}
div#results.show {
  opacity: 1;
}
.results-container {
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  margin: 15px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.7);
}
#results #answersCorrect {
  text-align: center;
}  
#results #answersWrong .wrongAnswersNum {
  text-decoration: underline;
  font-weight: bolder;
  color: #1c313a;
}
#results #answersWrong ul {
  margin: 0;
  padding: 0;
}
#results #answersWrong ul li {
  display: flex;
  justify-content: space-around;
}
#results #answersWrong ul li span {
  width: 35%;
  text-align: center;
}
